{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">
            <div id="templatemo_main">

                <div class="col_w960">
                    <h3>Please review your order below</h3>

                    <h4>Personal Details</h4>

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>{{ first_name }} {{ last_name }}</td>
                        </tr>
                        <tr>
                            <td>Email address</td>
                            <td>{{ email_address }}</td>
                        </tr>
                        <tr>
                            <td>Contact number</td>
                            <td>{{ contact_number }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{ address }}</td>
                        </tr>
                        <tr>
                            <td>Suburb</td>
                            <td>{{ suburb }}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>{{ state }}</td>
                        </tr>
                        <tr>
                            <td>Postcode</td>
                            <td>{{ postcode }}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{ country }}</td>
                        </tr>
                    </table>

                    <h4>Booking Details</h4>

                    <table>
                        <tr>
                            <td>Booking type</td>
                            <td>{{ booking_type }}</td>
                        </tr>
                        <tr>
                            <td>Appointment date</td>
                            <td>{{ appointment_date }}</td>
                        </tr>
                        <tr>
                            <td>Message to our consultant</td>
                            <td>{{ message_to_our_consultant }}</td>
                        </tr>
                    </table>

                    <h4>Payment</h4>

                    <table>
                        <tr>
                            <td><b>Order total</b></td>
                            <td><b>{{ total_amount }}</b></td>
                        </tr>
                        <tr>
                            <td><b>Deposit payment</b></td>
                            <td><b>{{ deposit_amount }}</b></td>
                        </tr>
                        <tr>
                            <td><b>Owing amount</b></td>
                            <td><b>{{ owing_amount }}</b></td>
                        </tr>
                    </table>

                    <form action="/book/success" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="first_name" value="{{ first_name }}">
                        <input type="hidden" name="last_name" value="{{ last_name }}">
                        <input type="hidden" name="email_address" value="{{ email_address }}">
                        <input type="hidden" name="contact_number" value="{{ contact_number }}">
                        <input type="hidden" name="address" value="{{ address }}">
                        <input type="hidden" name="suburb" value="{{ suburb }}">
                        <input type="hidden" name="state" value="{{ state }}">
                        <input type="hidden" name="postcode" value="{{ postcode }}">
                        <input type="hidden" name="country" value="{{ country }}">
                        <input type="hidden" name="booking_type" value="{{ booking_type }}">
                        <input type="hidden" name="appointment_date" value="{{ appointment_date }}">
                        <input type="hidden" name="message_to_our_consultant" value="{{ message_to_our_consultant }}">
                        <input type="hidden" name="total_amount" value="{{ total_amount }}">
                        <input type="hidden" name="deposit_amount" value="{{ deposit_amount }}">
                        <input type="hidden" name="owing_amount" value="{{ owing_amount }}">
                        <input type="submit" value="Submit">
                    </form>

                    <div class="cleaner"></div>

                </div>
                <!-- end of templatemo fp services -->

                <div class="col_w960 col_w960_last"></div>
                <div class="cleaner"></div>
            </div>
            <!-- end of main -->

            <div class="cleaner"></div>
        </div>
        <!-- end of wrapper -->
        <div class="cleaner"></div>
    </div>
    <!-- end of body wrapper -->
{% endblock %}

