{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content1">
                    <br>
                    <p>Unfortunately, something went wrong when processing your booking. Please click <a
                            href="{% url 'landing:book' %}">here</a> to return to the booking page.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

