{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <input type="hidden" name="environment" value="{{ environment }}"/>
    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content1">
                    <br>
                    <p>Thank you for booking an appointment with us! An email has been sent to your nominated email
                        address for confirmation.</p>

                    <h4>Payment Options</h4>

                    <div id="payment_options">
                        <p>Please choose from the following payment options:</p>

                        <h5>PayPal</h5>

                        If you wish to pay the remainder of your balance via PayPal, please click the button below.<br><br>

                        <script src="{% static 'landing/js/paypal-button.min.js' %}?merchant=anggiarto-facilitator@gmail.com"
                                data-button="buynow"
                                data-name="{{ booking_type }} {{ reference_number }}"
                                data-quantity="1"
                                data-amount="{{ deposit_amount }}"
                                data-currency="AUD"
                                data-shipping="0"
                                data-tax="0"
                                data-env="sandbox"></script>

                        <h5>Direct bank transfer</h5>

                        <p>If you wish to pay the remainder of your balance with bank transfer, our account details is given below.</p>

                        BSB: 032 257<br>
                        Account Name: Aptitude World<br>
                        Account number: 391306<br><br>
                        <b>NOTE:</b> Please include the booking reference number and surname in your payment.

                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

