{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <input type="hidden" name="environment" value="{{ environment }}"/>
    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content1">
                    <br><br>

                    <p>
                        <i>Give us a ring. We would love to chat with you.</i><br>
                        Phone 1300 88 78 71<br><br>

                        <i><b>OR</b><br><br> Drop us a line. We would love to hear from you.</i><br><br>
                    </p>

                    <form class="form-horizontal" action="/contact/submit" method="post">
                        {% csrf_token %}

                        <div class="form-field">
                            {{ contact_form.first_name.errors }}
                            <label for="id_first_name">First name</label>
                            {{ contact_form.first_name }}
                        </div>

                        <div class="form-field">
                            {{ contact_form.last_name.errors }}
                            <label for="id_last_name">Last name</label>
                            {{ contact_form.last_name }}
                        </div>

                        <div class="form-field">
                            {{ contact_form.email_address.errors }}
                            <label for="id_email_address">Email address</label>
                            {{ contact_form.email_address }}
                        </div>

                        <div class="form-field">
                            {{ contact_form.contact_number.errors }}
                            <label for="id_contact_number">Contact number</label>
                            {{ contact_form.contact_number }}
                        </div>

                        <div class="form-field">
                            {{ contact_form.message_to_our_consultant.errors }}
                            <label for="id_message_to_our_consultant">Message</label>
                            {{ contact_form.message_to_our_consultant }}
                        </div>

                        <input type="submit" value="Submit"/>
                    </form>

                    <p>
                        Email <a href="mailto:info@aptitudeworld.com.au?cc=fenty@aptitudeworld.com.au">info@aptitudeworld.com.au</a><br>
                        Facebook.com/<a href="https://www.facebook.com/aptitude.worldau" target="_blank">aptitudeworld.com.au</a><br>
                        Twitter.com/<a href="https://twitter.com/aptitudeworldau" target="_blank">AptitudeWorldAU</a><br><br>

                        <br><br>

                        PO BOX 78<br>
                        Stanhope Gardens NSW 2768
                    </p>

                    <br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

