{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <input type="hidden" name="environment" value="{{ environment }}"/>
    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content1">
                    <br><br>

                    <p>Thank you! One of our consultants will be in touch with you shortly.</p>

                    <br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

