@charset "utf-8";
/* CSS Document */

#exInfo {
    position: relative;
    right: 0;
    top: 0;

}

table td, table th {
    padding: 5px 5px 5px 5px;
}

select {
    width: 314px;
}

input, textarea {
    width: 300px;
}

.container {
    font-size: 18px;
    padding: 20px 10px 20px 10px;
}

#cFooter {
    font-size: 18px;
}

#cNav {
    padding: 0;
}

body {
    font-family: Calibri, Arial, Verdana, Helvetica, sans-serif;
    background-color: #7a6a53;
    line-height: 24px;
}

/******************
 * [begin] Carousel
 ******************/
.carousel {
    margin-bottom: 0;
}

/* Carousel transition : Fade in, out */
.carousel .item {
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}

.carousel .active.left {
    left: 0;
    opacity: 0;
    z-index: 2;
}

.carousel .next {
    left: 0;
    opacity: 1;
    z-index: 1;
}

/******************
 * [end] Carousel
 ******************/

table td {
    padding: 10px;
}

td img {
    max-width: 100%;
}

ol li {
    line-height: 24px;
}

ul li {
    line-height: 24px;
}

#company-logo {
    /*position: absolute;*/
}

#company-logo img {
    padding: 0;
    margin: 15px 0 0 -45px;
}

#slogan {
    font-style: italic;
    color: #ba7000;
}

@font-face {
    font-family: titleFont;
    src: url('../fonts/HARNGTON.TTF');
}

.navbar {
    min-height: 110px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar .contact-details-header {
    position: relative;
    top: -100px;
    left: 620px;
    color: #ffffff;
}

.navbar .nav-line-1 {
    margin-top: -88px;
}

.navbar .nav-line-1>li {
    line-height: 18px;
}

.navbar .nav-line-1>li>a {
    color: #000000;
    background-color: #ffffff;
    /*text-shadow: none;*/
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
}

.navbar .nav-line-1>li>a:hover {
    color: #4C4032;
    background-color: #e5e5e5;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .nav-line-2 {
    margin-top: -50px;
}

.navbar .nav-line-2>li {
    line-height: 30px;
    letter-spacing: -1px;
}

.navbar .nav-line-2>li>a {
    color: #4C4032;
    background-color: #d9ceb2;
    /*text-shadow: none;*/
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
}

.navbar .nav-line-2>li>a:hover {
    color: #4C4032;
    background-color: #e5e5e5;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar-inner a#mainTitle:hover {
    text-decoration: none;
    color: #eb8a40;
}

.navbar .brand {
    padding: 10px 0 0 0;
}

.navbar-inner {
    display: block;

    background-color: #7a6a53; /* background color will be black for all browsers */
    background-image: none;
    background-repeat: no-repeat;

    /*Make Navbar no color or shadow */
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

/* Navigation active link background color*/
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    color: #4C4032;
    /*background-color: #d9ceb2;*/
}

/*style.css*/
#content1 {
    background-color: #ffffff;
    text-align: left;
    height: auto;
    min-height: 350px;
    color: #4C4032;
}

#content2 {
    background-color: #d9ceb2;
    text-align: left;
    height: auto;
    min-height: 300px;
    color: #000000;
}

#content3 {
    background-color: #ffffff;
    text-align: left;
    height: auto;
    min-height: 320px;
    color: #4C4032;
}

#content4 {
    background-color: #d9ceb2;
    text-align: left;
    height: auto;
    min-height: 320px;
    color: #000000;
}

blockquote {
    font-size: 16px;
    font-style: italic;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

h3 {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
    margin: 20px 0 20px 0;
}

h4 {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

#leftSect {
    width: 45%;
    float: left;
    padding-right: 5px;
}

#rightSect {
    width: 45%;
    float: right;
    padding-left: 5px;
}

#clear {
    clear: both;
}

p {
    /*text-align: left;*/
    line-height: 24px;
}

#quote {
    font-size: 13px;
    padding: 15px 25px 15px 25px;
}

#1stSect, #2ndSect {
    width: 45%;
    float: left;
    padding-right: 10px;
}

.clear {
    clear: both;
}

.footer {
    background-color: #7a6a53;
    text-align: center;
    height: auto;
    min-height: 115px;
    color: #ffffff;
}

img#facebook {
    width: 45px;
    height: 45px;
    background: url(../img/aptitude/idroid.png) -75px 0;
}

img#twitter {
    width: 45px;
    height: 45px;
    background: url(../img/aptitude/idroid.png) -148px 0;
}

img#email {
    width: 45px;
    height: 45px;
    background: url(../img/aptitude/idroid.png) 0 0;
}

img#facebook-small {
    width: 20px;
    height: 20px;
    background: url(../img/aptitude/idroid-small.png) -34px 0;
}

img#twitter-small {
    width: 20px;
    height: 20px;
    background: url(../img/aptitude/idroid-small.png) -66px 0;
}

img#email-small {
    width: 20px;
    height: 20px;
    background: url(../img/aptitude/idroid-small.png) 0 0;
}

.overlay {
    display: none;
    /* place overlay on top of other elements */
    z-index: 10000;
    /* styling */
    background-color: #ffffff;

    width: 625px;
    min-height: 200px;
    border: 1px solid #666;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow: 0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.overlay .close {
    background-image: url(../img/close.png);
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.overlay .details {

}

/**************************************
* [begin] rotating images
**************************************/

#slideshow {
    position: relative;
    overflow: hidden;
    margin-top: -11px;
    margin-bottom: 20px;
}

.pics {
    height: 350px;
    width: 960px;
    padding: 0;
    margin: 0;
}

.pics img {
    background-color: #eee;
    height: 350px;
    width: 960px;
    top: 0;
    left: 0;
}

/* Change form focus color*/
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-    input:focus {
    border-color: #eb8a40;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 5px;
}

/**************************************
* [end] rotating images
**************************************/

ul.errorlist {
    margin: 0;
}

ul.errorlist li {
    margin: 0;
    list-style-type: none;
    font-size: 10px;
    color: #dd1144;
}

.form-field {
    margin-bottom: 15px;
}

/************************
* [begin] TESTIMONIALS
************************/
.testimonial-table {
    display: table;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

.testimonial-table .testimonial-row {
    display: table-row;
    width: 100%;
}

.testimonial-table .testimonial-row .testimonial-image {
    display: table-cell;
    text-align: right;
    padding-right: 20px;
    width: 15%;
}

.testimonial-table .testimonial-row .testimonial-message {
    display: table-cell;
    width: 85%;

}

.testimonial-table .testimonial-row .testimonial-message p {
    /*padding: 10px 10px 10px 10px;*/
    padding-bottom: 10px;
}

.testimonial-table .testimonial-row .testimonial-message .testimonial-author {
    font-weight: bold;
    text-align: right;
}

/************************
* [end] TESTIMONIALS
************************/

.img-centre {
    display: block;
    margin: 0 auto;
}