{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row" style="background-color:#ffffff">
        <div class="container" style="padding-top:10px;">
            <div class="row">
                <div class="span10 offset1" id="content1">
                    <br>
                    <p>
                        Aptitude World is a group of dynamic professionals coming from various fields whom being parents
                        ourselves, are passionate about children development and believe in utilising modern technology
                        to assist us in guiding our children to the best that they can be.
                    </p>

                    <p>
                        Aptitude Assessment using Dermatoglyphics, also known as Dermatoglyphics Multiple Intelligence
                        Test (DMIT) that has been around for more than a decade globally and is now available in
                        Australia.
                    </p>

                    <p>
                        We wish to bring a new dimension in the realm of computer technology and biological science by
                        applying the latest and innovative technology to help unleash one’s full and hidden potential.
                        Our partner, Brain-Child Learning (BCL) is the one and only USA Patent holder for
                        dermatoglyphics technology (fingerprint technology to identify inborn talent of human). </p>

                    <p>
                        Professor Ruei-Bin Lin from Taiwan, who founded this technology back in the early 1990s, is the
                        registered inventor and owner of the USA Patent for this technology and he is currently sitting
                        on the board of BCL as Research & Development Director.</p>

                    <p>
                        Children are gifts entrusted to us parents to nurture and guide physically, emotionally and
                        intellectually. It is our responsibility to ensure that we provide them the best that we can and
                        support them in everything they do.</p>

                    <p>
                        As parents we understand the challenges faced by parents everywhere in understanding their
                        children. We bring forth a scientifically proven methodology to assist parents in figuring their
                        children’s character, most effective learning style, and reveal their inborn talent.</p>

                    <p>
                        Having an informed knowledge makes the difference in many ways: how parents relate to their
                        children, how learning process can be maximised, and how future career can be made promising by
                        choosing the right path according to one’s talents.</p>

                    <p>
                        At the heart of Aptitude World, we believe everyone is unique, everyone is talented, and
                        everyone is capable to excel. By unlocking the hidden treasures of inborn talents we hope to
                        bring confidence in the areas that one is gifted, to excel and succeed in the most optimum path
                        of life.

                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}