<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }}</title>
    <meta name="keywords" content="{{ keywords }}"/>
    <meta name="description" content="{{ description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'landing/img/aptitude/favicon.ico' %}"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'landing/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'landing/css/bootstrap-responsive.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'landing/css/custom.css' %}"/>
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>

    <!-- Javascripts -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{% static 'landing/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script type="text/javascript"
            src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% static 'landing/js/jquery.cycle.all.js' %}"></script>
    <script type="text/javascript" src="{% static 'landing/js/main.js' %}"></script>
</head>

<body>

<div class="container" id="cNav">
    <div class="row">
        <div class="span10 offset1">
            <div class="navbar">
                <div class="navbar-inner">
                    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="brand" href="{% url 'landing:index' %}"><img
                            src="{% static 'landing/img/aptitude/logo-only-small.png' %}" alt="Aptitude"></a>

                    <div class="visible-desktop">
                        <a id="mainTitle" href="{% url 'landing:index' %}">
                            <span style="color:#eb8a40">A</span>ptitude
                            <span style="color:#eb8a40">W</span>orld
                        </a>
                    </div>
                    {#                    <div class="visible-tablet"><a id="mainTitle" href="index.html"><span style="color:#eb8a40">A</span>ptitude</a></div>#}

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li {% if page == 'index' %} class="active" {% endif %}><a
                                    href="{% url 'landing:index' %}">{{ _('Home') }}</a></li>
                            <li {% if page == 'product' %} class="active" {% endif %}><a
                                    href="{% url 'landing:product' %}">{{ _('Product') }}</a></li>
                            <li {% if page == 'consulting' %} class="active" {% endif %}><a
                                    href="{% url 'landing:consulting' %}">{{ _('Consulting') }}</a></li>
                            <li {% if page == 'solutions' %} class="active" {% endif %}><a
                                    href="{% url 'landing:solutions' %}">{{ _('Benefits') }}</a></li>
                            <li {% if page == 'book' %} class="active" {% endif %}><a
                                    href="{% url 'landing:book' %}">{{ _('Book') }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block content %}{% endblock %}

<div class="footer">
    <div class="container" id="cFooter">
        <div class="row">
            <div class="span10 offset1">
                <a href="https://www.facebook.com/aptitude.worldau" target="_blank">
                    <img id="facebook" src="{% static 'landing/img/aptitude/trans.png' %}" alt="facebook"/>
                </a>
                <a href="https://twitter.com/aptitudeworldau" target="_blank">
                    <img id="twitter" src="{% static 'landing/img/aptitude/trans.png' %}" alt="twitter"/>
                </a>
                <a href="mailto:info@aptitudeworld.com.au?cc=fenty@aptitudeworld.com.au">
                    <img id="email" src="{% static 'landing/img/aptitude/trans.png' %}" alt="email"/>
                </a>
                <br><br>

                <div id="copyright">
                    1300 88 78 71<br/>
                    Copyright © {{ year }} Aptitude World ANZ
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of footer wrapper -->
</body>


</html>