<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }}</title>
    <meta name="keywords" content="{{ keywords }}"/>
    <meta name="description" content="{{ descriptions }}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'landing/main.css' %}"/>
</head>

<body>
{% block content %}{% endblock %}

<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">

        <div class="col_allw300">
            <div class="footer_title">
                <img src="../../static/images/newsletter.png" alt="icons"/>
                <h5>SUBSCRIBE</h5>
                GET NEWSLETTERS
            </div>
            <form action="#" method="post">
                <input type="text" id="newsletter_input" name="email"/>
                <input type="submit" name="submit" id="newsletter_submit" value=" Subscribe "/>
            </form>
        </div>

        <div class="col_allw300">
            <div class="footer_title twitter">
                <img src="../../static/images/twitter.png" alt="icons"/>
                <h5>FOLLOW US</h5>
                ON TWITTER
            </div>
            <p><a href="#">@Duis vitae velit</a> Ut ultricies. Fusce sollicitudin nisl a lectus. Pellentesque odio.</p>

            <p><a href="#">@Aenean cursus</a> Maecenas aliquam, ligula id egestas suscipit, nisi sapien dignissim nibh,
                ac vestibulum lorem urna in neque.</p>
        </div>

        <div class="col_allw300 col_last">
            <div class="footer_title">
                <img src="../../static/images/mail.png" alt="icons"/>
                <h5>EMAIL</h5>
                CONTACT US
            </div>
            <p> Donec ante. Vestibulum nisl mauris, malesuada nec, dictum in, molestie in, pede.</p>
            Tel: 010-010-1234<br/>
            Fax: 020-020-5678<br/>
            Email: <a href="#">info@yourcompany.com</a></div>

        <div class="cleaner"></div>
    </div>
    <!-- end of footer -->

    <div id="copyright">
        Copyright © {{ year }} Aptitude
    </div>
    <!-- end of templatemo_footer -->
</div>
<!-- end of footer wrapper -->
</body>


</html>