{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <input type="hidden" name="environment" value="{{ environment }}"/>
    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content1">
                    <br>

                    <p>
                        Please observe the following before placing a booking:
                    </p>
                    <ol>
                        <li>Aptitude World is only able to service Sydney area at this moment.
                            We apologise for the inconvenience.
                        </li>
                        <li>Booking has to be made at least 2 days in advance.</li>
                    </ol>

                    <p>
                        To book an appointment with one of our consultants, please fill in the form below.
                        All fields are required unless indicated otherwise.
                    </p>

                    <form class="form-horizontal" action="/book/confirm" method="post">
                        {% csrf_token %}

                        <h3>Personal Details</h3>
                        {{ personal_form.as_p }}

                        <h3>Booking Details</h3>
                        {{ booking_form.as_p }}

                        <h3>Payment Details</h3>

                        <p>You may choose to pay the booking amount in deposit or full.</p>
                        {{ payment_form.as_p }}

                        <input type="submit" value="Review Booking"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

