{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <input type="hidden" name="environment" value="{{ environment }}"/>
    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">
            <div id="templatemo_main">

                <div class="col_w960">
                    <p>To book an appointment with one of our consultants, please fill in the form below.</p>

                    <form action="/book/confirm" method="post">
                        {% csrf_token %}

                        <h3>Personal Details</h3>
                        {{ personal_form.as_p }}

                        <h3>Booking Details</h3>
                        {{ booking_form.as_p }}

                        <h3>Payment Details</h3>

                        <p>You may choose to pay the booking amount in deposit or full.</p>
                        {{ payment_form.as_p }}

                        <input type="submit" value="Review Booking"/>
                    </form>
                    <div class="cleaner"></div>

                </div>
                <!-- end of templatemo fp services -->

                <div class="col_w960 col_w960_last"></div>
                <div class="cleaner"></div>
            </div>
            <!-- end of main -->

            <div class="cleaner"></div>
        </div>
        <!-- end of wrapper -->
        <div class="cleaner"></div>
    </div>
    <!-- end of body wrapper -->
{% endblock %}

