{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <input type="hidden" name="environment" value="{{ environment }}"/>
    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">
            <div id="templatemo_main">

                <div class="col_w960">
                    <p>To book an appointment with one of our consultants, please fill in the form below.</p>

                    <form action="/book" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {#                        <input type="submit" value="Submit"/>#}

                        <div id="payment_options">
                            <p>Choose your payment option below:</p>

                            <ul>
                                <li>
                                    PayPal
                                    <script src="{% static 'landing/js/paypal-button.min.js' %}?merchant=anggiarto-facilitator@gmail.com"
                                            data-button="buynow"
                                            data-name="Report &amp; Consultation"
                                            data-quantity="1"
                                            data-amount="0"
                                            data-currency="AUD"
                                            data-shipping="0"
                                            data-tax="0"
                                            data-callback="https://api-3t.sandbox.paypal.com/nvp"
                                            data-env="sandbox"></script>
                                </li>
                            </ul>
                        </div>
                    </form>
                    <div class="cleaner"></div>

                </div>
                <!-- end of templatemo fp services -->

                <div class="col_w960 col_w960_last"></div>
                <div class="cleaner"></div>
            </div>
            <!-- end of main -->

            <div class="cleaner"></div>
        </div>
        <!-- end of wrapper -->
        <div class="cleaner"></div>
    </div>
    <!-- end of body wrapper -->
{% endblock %}

