<div>
    <p>
        Thank you for booking your aptitude assessment online. We look forward to helping you unveil your potentials.
        Below are the details for your booking.
    </p>

    <table>
        <tr>
            <td>Booking reference number</td>
            <td>%s</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>%s</td>
        </tr>
        <tr>
            <td>Contact number</td>
            <td>%s</td>
        </tr>
        <tr>
            <td>Email address</td>
            <td>%s</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>%s</td>
        </tr>
        <tr>
            <td>Postcode</td>
            <td>%s</td>
        </tr>
        <tr>
            <td>Booking type</td>
            <td>%s</td>
        </tr>
        <tr>
            <td>Data scanning appointment</td>
            <td>%s (A consultant will contact you to advise the appointment time)</td>
        </tr>
        <tr>
            <td>Total price</td>
            <td>%s</td>
        </tr>
        <tr>
            <td>Deposit paid</td>
            <td>%s</td>
        </tr>
        <tr>
            <td>Total owing</td>
            <td>%s</td>
        </tr>
        <tr>
            <td>Message to our consultant</td>
            <td>%s</td>
        </tr>
    </table>

    <p>Please find our booking terms & conditions below for your reference.</p>

    <h3>Terms and Conditions:</h3>

    <h4>Payment of balance</h4>

    <p>The outstanding balance is payable by the data scanning appointment time. We offer the following payment
        options:</p>
    <ol>
        <li>
            Payment by direct bank transfer (preferred)<br>
            Account Name: Aptitude World<br>
            BSB: 032 257<br>
            Account number: 391306<br>
            <b>NOTE:</b> Please include the booking reference number and surname in your payment.
        </li>
        <li>
            Payment by cash at the data scanning appointment (please provide the exact amount)
        </li>
        <li>
            Payment by credit card or PayPal via our website.
        </li>
    </ol>

    <h4>Cancellation</h4>

    <p>Should you have to cancel your assessment, you must notify us at least 24 hour in advance. The deposit is not
        refundable but transferrable once only. Once biometric data is taken, no cancellation of service can be
        made.</p>

    <h4>Confidentiality</h4>

    <p>Your personal data is treated with utmost privacy and confidentiality. Once the aptitude report is generated, the
        biometric data is automatically deleted from the system. Aptitude World is not able to recreate or regenerate
        biometric data for any purpose.</p>

    <h4>Disclaimer</h4>

    <p>The undersigned has understood the nature of the service, agreed to subscribe to the said service and its
        consultation. Aptitude World does not make any representation, statement or remark to the undersigned on what
        the
        customer will or will not do based on the aptitude analysis. The analysis does not predict what the future
        holds.
        Aptitude World shall take its commitment in providing its service to the customer and no discrepancies shall be
        arised by either party after the consultation.</p>

    <div id="signature">
        Kind Regards,<br>
        Aptitude World<br>
        Ph 1300 88 78 71<br>
        info@aptitudeworld.com.au
    </div>
</div>