{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">
            <div id="templatemo_main">

                <div class="col_w960">
                    <p align="justify">
                        Aptitude World has a <b>3-Way Approach</b> to discover the innate abilities and talent of
                        an individual.
                    </p>
                    <br/>
                    <img src="{% static 'images/aptitude/approach1.png' %}"
                         alt="Understand your child's innate characteristic"/>
                    <img src="{% static 'images/aptitude/approach2.png' %}"
                         alt="Know your child's inborn learning style or ability"/>
                    <img src="{% static 'images/aptitude/approach3.png' %}"
                         alt="Discover your child's inborn intelligences and hidden talent"/><br/>
                    <img src="{% static 'images/aptitude/consulting2.png' %}"/>
                    <img src="{% static 'images/aptitude/consulting1.png' %}"/>

                    <div class="cleaner"></div>
                </div>
                <!-- end of templatemo fp services -->

                <div class="col_w960 col_w960_last"></div>
                <div class="cleaner"></div>
            </div>
            <!-- end of main -->

            <div class="cleaner"></div>
        </div>
        <!-- end of wrapper -->
        <div class="cleaner"></div>
    </div>
    <!-- end of body wrapper -->
{% endblock %}

