{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content1">
                    <h2>3-Way Approach</h2>

                    <p align="justify">
                        Aptitude World has a 3-Way Approach to discover the innate abilities and talent of
                        an individual as illustrated in the below image.
                    </p>
                    <br/>
                    <img src="{% static 'landing/img/aptitude/the-solution.jpg' %}"
                         alt="Understand your child's innate characteristic"
                         style="display: block; margin: 10px auto 10px auto;"/>

                    <h4>1st Approach: Understand your child's Inborn Character</h4>

                    <ul>
                        <li>
                            To understand and develop an effective way to interact with your child based on their inborn
                            communication style
                        </li>
                        <li>
                            To lessen misunderstanding of parents of their children by knowing their inborn character
                        </li>
                        <li>
                            For adults, this test can be used for self-evaluation and compatibility with your spouse or
                            business partner
                        </li>
                    </ul>

                    <div style="text-align: center">
                        <img src="{% static 'landing/img/aptitude/consulting3.png' %}"
                             style="display: inline-block; margin: 10px auto 10px auto;"/>
                    </div>


                    <h4>2nd Approach: Know your child's Inborn Learning Style</h4>

                    <ul>
                        <li>
                            Less effort, more result. Teach your child effectively by knowing their learning style:<br>
                            A kinesthetic learner is good in expressing their feeling/thought through body language and
                            prefers to learn/memorise through operation and movement<br>
                            A visual learner has sharp observation/visual differentiation and prefers to learn through
                            observation and reading<br>
                            An auditory learner prefers to learn through auditory sense/oral practice and able to
                            assimilate, organise and arrange oral information.
                        </li>
                        <li>
                            To recommend parents to place their child in courses or pre-school where its curriculum
                            suits the child's inborn learning style
                        </li>
                        <li>
                            To eliminate the "trial and error" situation when parents send their child to a certain
                            class (eg. art class or music class) without knowing if the child is capable to comprehend
                        </li>
                        <li>
                            For adults, this test will reveal to them the strength they possess and to guide them to
                            perform better at work
                        </li>
                    </ul>

                    <div style="text-align: center">
                        <img src="{% static 'landing/img/aptitude/consulting2.png' %}"
                             style="display: inline-block; margin: 10px auto 10px auto;"/>
                    </div>


                    <h4>3rd Approach: Discover your child's Inborn Intelligences</h4>

                    <ul>
                        <li>Every child is unique and possess different inborn talents</li>
                        <li>To give parents an insight into their child and to guide them effectively to the talents
                            they possess
                        </li>
                        <li>To give parents <b>an insight into their child</b> and to groom them effectively to the
                            talents they possess
                        </li>
                        <li>
                            To enable parents to focus on their child's strength and to eliminate the "guessing game" on
                            their talent
                            <div style="text-align: center">
                                <img src="{% static 'landing/img/aptitude/consulting4.png' %}"
                                     style="display: inline-block; margin: 10px auto 10px auto;"/>
                            </div>
                        </li>


                        <li>The Aptitude assessment report can be used as a guideline for the child and parents to refer
                            to when choosing a university major that will best suit the child’s inborn abilities and
                            potential
                        </li>
                        <li>After graduation, the dermatoglyphics report will again be helpful in giving recommendation
                            to choose their career path
                        </li>
                        <li>For adults, this test can be a very good reference for those who intend to make a career
                            change, venture into new business or pick up new skills/education
                        </li>
                    </ul>
                    <div style="text-align: center">
                        <img src="{% static 'landing/img/aptitude/consulting5.png' %}"
                             style="display: inline-block; margin: 10px auto 10px auto;"/>
                    </div>

                    <h2>Procedure</h2>

                    <p>It is a simple 5-minute procedure of scanning the fingertips to generate a report
                        that is unique
                        and tailored to the child.</p>

                    <div style="text-align: center">
                        <img src="{% static 'landing/img/aptitude/product_trans.png' %}"
                             style="margin: 10px auto 10px auto"
                             alt="How does it work?"/>
                    </div>

                    <p>
                        An Aptitude Assessment report is then produced and consultation of the report is
                        performed within
                        10 days by a certified Dermatoglyphics Consultant.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

