{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="overlay" id="fingerprints">
        <div class="details">
            <table>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_1.png' %}"></td>
                    <td><b>Simple Arch</b> - Practical, realistic, efficient but conservative</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_2.png' %}"></td>
                    <td><b>Ulnar Loop</b> - Emotional, adapts fast and strong in interaction</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_3.png' %}"></td>
                    <td><b>Concentric Whirl</b> - Independent, competitive, firm (stubborn) and proactive</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_4.png' %}"></td>
                    <td><b>Spiral Whirl</b> - Highly intuitive, goal oriented but stubborn</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_5.png' %}"></td>
                    <td><b>Double Loop</b> - Can be a multi-tasking person and highly imitative in learning</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_6.png' %}"></td>
                    <td><b>Tented Arch</b> - Passionate and impulsive, able to absorb information like a sponge</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_7.png' %}"></td>
                    <td><b>Radial Loop</b> - Self-centered, unconventional and has reverse-thinking model</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_8.png' %}"></td>
                    <td><b>Imploding Whirl</b> - Family oriented but low in concentration and focus</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_9.png' %}"></td>
                    <td><b>Peacock's Eye</b> - High degree of understanding ability, optimistic, enthusiastic and have
                        unique ability in arts
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="overlay" id="patent_transcripts">
        <div class="details">
            <img src="{% static 'landing/img/aptitude/patent1.png' %}">
            <img src="{% static 'landing/img/aptitude/patent2.png' %}">

            <div style="text-align: center">
                The actual certificate of USA Patent awarded to Professor Lin, the R&D Director of Aptitude World
                Headquarters
            </div>
        </div>
    </div>


    <div class="row" style="background-color:#ffffff">
        <div class="container" style="padding-top:0px;">
            <div class="row">
                <div class="span10 offset1" id="content1">
                    <img src="{% static 'landing/img/banners/knowing-your-potential.jpg' %}"/>

                    <h2>Introduction to Dermatoglyphics Technology</h2>

                    <p>
                        The study of Dermatoglyphics (dermato=skin, glyphics=carvings) can be traced back to almost 200
                        years of research. This study has been proven with evidence in anthropology, genetics,
                        neuroscience and statistics to decode human’s innate ability (inborn characteristic).
                    </p>

                    <p>
                        It started in 1823 when scientists discovered the relevance of fingerprints and
                        multiple-intelligence in human. Medical research verified that the formation of fingerprint
                        started at week 13 of embryonic stage and completed at week 19. It is also during this period
                        the brain develops, growing simultaneously with the dermal ridges. Therefore there is a direct
                        co-relation between the development of the brain and the fingerprints.
                    </p>

                    <p>
                        Thumbprints found on contracts over two thousand years ago show that the Chinese have long used
                        fingerprints for signature and identification. For the Western World, however, fingerprints were
                        first discovered when Dr. Jan Evangelista Purkinje (a Czech physicist) classified fingerprints
                        in categories as part of his scientific discovery in 1823. In 1926, Dr. Harold Cummins (US
                        Professor of Anatomy) invented the world Dermatoglyphics and extended dermatoglyphics research
                        into the field of medicine and brought it into more public awareness. More scientists had
                        contributed to the study of dermatoglyphics in the 20th century. Finally based on these
                        extensive studies and verified with facts in anthropology, genetics, neuroscience and
                        statistics, there is now a software developed specifically to map these fingerprint patterns to
                        the brain function.
                    </p>

                    <p>
                        Some countries such as Russia, China and Taiwan have adopted dermatoglyphics technology in areas
                        of sports, education, human resource management, recruitment, entertainment and even talent
                        scouting.
                    </p>

                    <blockquote>
                        "Unfortunately, most of us have little sense of our talents and strengths, much less the ability
                        to build our lives around them. Instead, guided by our parents, teachers, managers or influenced
                        by media, peers and friends, we become numbed and blinded and practice our weaknesses and spend
                        our lives in mediocrity, while our strengths lie dormant and neglected. This vicious cycle keep
                        on going as we use the similar way to raise our next generation..."
                        <div class="author">&mdash; Dermatoglyphics Consultant</div>
                    </blockquote>


                    <table>
                        <tr>
                            <td><img src="{% static 'landing/img/aptitude/fingerprint1.png' %}"></td>
                            <td>
                                The types of <a href="" rel="#fingerprints">fingerprints</a> and
                                <a href="" rel="#patent_transcripts">transcripts of USA patent</a>
                            </td>
                        </tr>
                    </table>

                    <h2>Why use Dermatoglyphics for Aptitude Assessment?</h2>

                    <p>Dermatoglyphics uses dermal patterns which have the following traits:</p>

                    <ul>
                        <li>Unique to every individual</li>
                        <li>Stable, does not change throughout life</li>
                        <li>DNA based, thus is determined by genetic inheritance</li>
                    </ul>

                    <p>
                        It is a safe tool to produce a scientifically based useful information which can be used from
                        the age of 12 months, providing a breakthrough in Aptitude assessment which commonly uses
                        questionnaires and examinations. Parents are able to find out about their children’s inborn
                        characteristics much earlier and thus can provide an informed way of parenting.
                    </p>

                    <h2>The benefits of Dermatoglyphics Technology</h2>

                    <p>Aptitude World has a <a href="{% url 'landing:consulting' %}">3-Way Approach</a> to discover the
                        innate abilities and talent of an individual, particularly children before the age of 16.</p>

                    <h4>For educational institutions (schools)</h4>

                    <div class="row">
                        <div class="span3"><img src="{% static 'landing/img/aptitude/solutions4.png' %}"
                                                alt="How it helps the tutor">
                        </div>
                        <br/>

                        <div class="span7">
                            <ul>
                                <li>Establish the multiple intelligence database of their students</li>
                                <li>Elevate the quality of education and image of the school</li>
                                <li>Divide the students into different "talent classes" according to their learning
                                    abilities
                                </li>
                                <li>Build up a good reputation among education institutions</li>
                            </ul>
                        </div>
                    </div>
                    <br>

                    <p>Dermatoglyphics technology is adopted by many education institutions in countries to evaluate
                        their student and also as a marketing tool to increase their enrolment.
                    </p>

                    <h4>For tutors and teachers</h4>
                    <br>

                    <div class="row">
                        <div class="span3"><img src="{% static 'landing/img/aptitude/solutions5.png' %}"
                                                alt="How it helps the tutor"></div>
                        <br/>

                        <div class="span7">
                            <ul>
                                <li>Understand the character of each child in a much shorter period</li>
                                <li>Assist in communication with parents</li>
                                <li>Teach their pupils according to their abilities</li>
                            </ul>
                        </div>
                    </div>
                    <br>

                    <h4>For Businesses</h4>

                    <div class="row">
                        <div class="span3"><img src="{% static 'landing/img/aptitude/solutions6.png' %}"
                                                alt="How it helps the enterprise"></div>
                        <br/>

                        <div class="span7">
                            <ul>
                                <li>Enable company to discern suitable candidates with ability</li>
                                <li>Facilitate efficient communication and effectiveness at work</li>
                                <li>Allow management to predominate human resources distribution assuredly</li>

                            </ul>
                        </div>
                    </div>
                    <br>

                    <p>Human resource is perhaps the most valuable asset of a corporation. Choosing the right talent
                        especially for an important position is vital as it impacts not only time but also resources.
                        Contrary to other popular psychometric test which can be manipulated, Dermatoglyphics truly
                        reflects one’s natural talent (inborn strength), something that a human resource personnel is
                        looking for:</p>

                    <div class="row">
                        <div class="span7">
                            <ul>
                                <li>To reduce the turnover of employees</li>
                                <li>To get the "right person for the right job"</li>
                                <li>To improve the overall efficiency in recruitment</li>
                                <li>To assist human resource management in character-potential profiling and effective
                                    communication
                                </li>
                                <li>To reduce the cost of human resource department such as head-hunting and opportunity
                                    cost lost in wrong candidate selection
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <div class="row" style="background-color:#d9ceb2">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="span10 offset1" id="content2" style="min-height:400px;">#}
    {#                    <h2>How does it work?</h2>#}
    {##}
    {#                    <img src="{% static 'landing/img/aptitude/product_trans.png' %}" style="margin: 10px 0 15px 0"#}
    {#                         alt="How does it work?"/>#}
    {##}
    {#                    <p>#}
    {#                        A report will be printed for the client.#}
    {#                        <a href="{% url 'landing:consulting' %}">Consultation</a> of the report shall be conducted by#}
    {#                        qualified Dermatoglyphics Consultant.#}
    {#                    </p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}

