{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="span10 offset1">
                    <p><i style="color: #cb8101;">Your Frequently Asked Questions answered.</i></p>

                    <h4 style="font-style: italic; font-weight: normal;">Q1: What is Aptitude Assessment?</h4>

                    <p>Aptitude Assessment is a test to <b>reveal the competency</b> of an individual to do a certain
                        kind of
                        activity. The result is based on inborn facts, which is what we are born with naturally. It does
                        not
                        presume things that have been learnt or trained for, nor is it an attitude test. Each person
                        only
                        needs to do the test once as fingerprints do not change throughout one’s life.</p>

                    <img src="{% static 'landing/img/line-divider.png' %}" class="img-centre">

                    <h4 style="font-style: italic; font-weight: normal;">Q2: Is this some kind of fortune telling?</h4>

                    <p><b>No</b>, we base the assessment on fingerprints which do not change, unlike the lines of
                        palmistry
                        that
                        changes throughout life. We do not predict what the future holds, rather we consult on one’s
                        inborn
                        character and talents.</p>

                    <img src="{% static 'landing/img/line-divider.png' %}" class="img-centre">

                    <h4 style="font-style: italic; font-weight: normal;">Q3: Why do I need this assessment for my
                        children?</h4>

                    <p>Each child is unique, they have their own personality and talents. The purpose of this assessment
                        is
                        to assist parents to understand more of their child’s mental and intellectual make up. When we
                        understand the uniqueness of each child we can tailor the development path to suit the child’s
                        talents. In the end children will be the ones with life-long benefits as they are guided by
                        knowledgeable and informed parents.</p>

                    <img src="{% static 'landing/img/line-divider.png' %}" class="img-centre">

                    <h4 style="font-style: italic; font-weight: normal;">Q4: What can I find out from the
                        assessment?</h4>

                    <p>There are 3 major factors that are revealed:</p>

                    <ol>
                        <li>Inborn character<br>

                            <p>By knowing your child’s personality, the assessment will recommend effective methods to
                                handle and
                                interact with your child. Parents will have a much clearer idea on how to communicate
                                with a
                                child
                                at a minimal conflict level based on their inborn character and communication style.</p>
                        </li>
                        <li>Congenital learning style<br>

                            <p>Find out which education method best suits your child. Parents can teach their child
                                effectively and
                                efficiently, less effort and more result.</p>
                        </li>
                        <li>Innate talent<br>

                            <p>At Aptitude World we believe that every child has a unique potential. We aim to help
                                parents
                                uncover
                                their child’s talents to ensure there is no lost opportunity and that there is awareness
                                of
                                what
                                mother nature has given to their child. It is finding all these factors that better
                                equip
                                parents in their journey of guiding their
                                children, either in academic, extra-curricular activities or in their daily
                                communication
                                and
                                relationship with the child.</p>
                        </li>
                    </ol>

                    <img src="{% static 'landing/img/line-divider.png' %}" class="img-centre">

                    <h4 style="font-style: italic; font-weight: normal;">Q5: How accurate is the assessment?</h4>

                    <p>We have >95% satisfaction rate and have had numerous trials on adults (which are considered as
                        finished product) to ensure the accuracy of the assessment. We use decades worth of statistics
                        worldwide which is continuously updated to ensure our product stability.</p>

                    <img src="{% static 'landing/img/line-divider.png' %}" class="img-centre">

                    <h4 style="font-style: italic; font-weight: normal;">Q6: Where does the assessment take place?</h4>

                    <p>The advantage of having technology is that we can bring it with us anywhere. We can meet you at
                        your
                        child’s school/preschool or a shopping centre or at the comfort of your home if you prefer.</p>

                    <img src="{% static 'landing/img/line-divider.png' %}" class="img-centre">

                    <h4 style="font-style: italic; font-weight: normal;">Q7: What is the process?</h4>

                    <p>3 easy steps:</p>
                    <ol>
                        <li>Register by calling 1300 88 78 71 or email <a
                                href="mailto:info@aptitudeworld.com.au?cc=fenty@aptitudeworld.com.au">info@aptitudeworld.com.au</a>
                            with your full name and
                            contact number.
                        </li>
                        <li>We perform a 5 minute biometric data collection at a time convenient to you and your
                            child.
                        </li>
                        <li>Set up an appointment for report collection and consultation in 10 working days.</li>
                    </ol>

                    <img src="{% static 'landing/img/line-divider.png' %}" class="img-centre">

                    <h4 style="font-style: italic; font-weight: normal;">Q8: What happens to the biometric data after the
                        process is completed?</h4>

                    <p>We do not store biometric data permanently. As soon as the report is produced our
                        software is
                        programmed to delete the data from the system. This is to protect the privacy of each
                        client and is
                        part of our policy.</p>

                    <img src="{% static 'landing/img/line-divider.png' %}" class="img-centre">

                    <h4 style="font-style: italic; font-weight: normal;">Q9: I lost the report, how can I get it
                        back?</h4>

                    <p>We have a lifetime warranty on our reports (but not the biometric data). If the report is
                        damaged or
                        lost we will be happy to provide a soft copy report sent to your email at no cost. Should
                        you prefer
                        a full replacement of the hard copy report we will also be able to provide them at a cost.</p>

                    <img src="{% static 'landing/img/line-divider.png' %}" class="img-centre">

                    <h4 style="font-style: italic; font-weight: normal;">Q10: I have more than one child, can I get
                        discount?</h4>

                    <p>Give us a call at 1300 88 78 71 and inform us your situation. We have promotions from time
                        to time
                        and we may even work out a special package deal for you.</p>

                    <img src="{% static 'landing/img/line-divider.png' %}" class="img-centre">

                    <h4 style="font-style: italic; font-weight: normal;">Q11: What is Aptitude World’s Privacy
                        Policy?</h4>

                    <p>We highly value the trust that is given to us by providing us your personal data (full name,
                        email,
                        contact number, date of birth, address). Any information you provide to us is stored and
                        held under
                        generally accepted standards of technology and operational security in order to protect your
                        personally identifiable information from loss, misuse, alteration, or destruction. Only
                        authorised
                        personnel are provided access to personally identifiable information and these personnel are
                        required to treat this information as confidential. Despite these precautions, we cannot
                        guarantee
                        absolutely that any and all unauthorised access to your personally identifiable information
                        will be
                        prevented.</p>

                    <p>The biometric data we collect is solely and strictly for the purpose of creating an aptitude
                        assessment report. Once report is generated, our software is programmed to delete the
                        biometric data
                        permanently out of our system. There is no third party usage permitted unless specifically
                        requested
                        by the client and subject to Aptitude World’s approval.</p>

                    <img src="{% static 'landing/img/line-divider.png' %}" class="img-centre">

                    <h4 style="font-style: italic; font-weight: normal;">Q12: How to contact us for more information?</h4>

                    <p>If you have any questions or comments regarding our policy, please email us at <a
                            href="mailto:info@aptitudeworld.com.au?cc=fenty@aptitudeworld.com.au">info@aptitudeworld.com.au</a>
                        or you can write to us at:</p><br>

                    Aptitude World<br>
                    PO Box 78<br>
                    Stanhope Gardens<br>
                    NSW 2768

                </div>
            </div>
        </div>
    </div>


{% endblock %}

