{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="span10 offset1">
                    <p><i style="color: #cb8101;">Join the global Aptitude World family!</i></p>

                    <p>We welcome your interest for a franchise opportunity in:</p>

                    <h4>INTERSTATE OPPORTUNITIES</h4>

                    <ul>
                        <li>Melbourne</li>
                        <li>Perth</li>
                        <li>Gold Coast</li>
                        <li>Adelaide</li>
                        <li>Canberra</li>
                    </ul>

                    <h4>OVERSEAS OPPORTUNITY</h4>

                    <ul>
                        <li>New Zealand</li>
                    </ul>

                    <br>
                    Call 1300 88 78 71<br>
                    Email <a
                        href="mailto:info@aptitudeworld.com.au?cc=fenty@aptitudeworld.com.au">info@aptitudeworld.com.au</a><br><br>

                    or you can write to us at:<br>
                    Aptitude World<br>
                    PO Box 78<br>
                    Stanhope Gardens<br>
                    NSW 2768
                </div>
            </div>
        </div>
    </div>
{% endblock %}

