{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}

    <script>
        $(document).ready(function () {
            $('#myCarousel').carousel();
        });
    </script>

    <div class="row" style="background-color:#ffffff">
        <div class="container" style="padding-top:0;">
            <div class="row">
                <div class="span10 offset1" id="content1">
                    <div id="myCarousel" class="carousel slide">

                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item">
                                <img src="{% static 'landing/img/banners/children.jpg' %}">
                            </div>

                            <div class="item">
                                <img src="{% static 'landing/img/banners/children1.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <!-- end of Div mycarousel-->

                    <h2>Every child deserves a genius discovery</h2>

                    <p>Aptitude World helps children and adults to unleash their potential with proven scientific
                        methodology.</p>

                    <p style="color: #cb8101;">At Aptitude World, we believe:</p>
                    <ul style="color: #cb8101;">
                        <li>Everyone is unique</li>
                        <li>Everyone is talented</li>
                        <li>Everyone is capable to excel</li>
                    </ul>

                    <p>Aptitude World is the first in Australia to introduce an aptitude assessment program that is non-
                        invasive, no questionnaire involved, and can be done from 12 months of age. We utilise the
                        latest version of <a href="{% url 'landing:dermatoglyphics' %}">Dermatoglyphics Test</a> to uncover the hidden talent of
                        an individual with proven accuracy.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color:#d9ceb2">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content2">
                    <div id="leftSect">
                        <h2>Left Brain People</h2>
                        <br>

                        <p>
                            Guided by the left brain, theories suggest that left-brain people respond in sequential,
                            logical ways and this group of people are strong in math and science, and can answer
                            questions quickly. <br><br>"Most people in modern world operate as left-brain people due to
                            the education system in school which focus on left brain training..."
                        </p>
                    </div>

                    <div id="rightSect">
                        <h2>Right Brain People</h2>
                        <br>

                        <p>
                            On the contrary, right-brain people are dreamers who are led by intuition and creativity.
                            Right brainers think deeply and may have high level of intelligence. Right brainers make
                            great students of arts and social science. <br><br>Besides being more spontaneous than the
                            conservative left-brainers, right brainers are intuitive and prefer to follow their own gut
                            feelings when it comes to decision making.
                        </p>
                    </div>

                    <div id="clear"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

