{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}

    <script>
        $(document).ready(function () {
            $('#myCarousel').carousel();
        });
    </script>

    <div class="row" style="background-color:#ffffff">
        <div class="container" style="padding-top:0;">
            <div class="row">
                <div class="span10 offset1" id="content1">
                    <div id="myCarousel" class="carousel slide">

                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item">
                                <img src="{% static 'landing/img/banners/children.jpg' %}">
                            </div>

                            <div class="item">
                                <img src="{% static 'landing/img/banners/children1.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <!-- end of Div mycarousel-->

                    <h2>Every child deserves a genius discovery</h2>
                    <br>

                    <p>Aptitude World is the first in Australia to introduce an aptitude assessment program that is
                        non-invasive, no questionnaire involved, and can be done from 12 months of age. We utilise the
                        latest version of Dermatoglyphics Test (fingerprints scanning) to uncover the hidden talent of a
                        child with proven accuracy. It is a simple 5-minute procedure of scanning the fingertips to
                        generate a report that is unique and tailored to the child.</p>

                    <p>We are a team of parents and professionals who are all passionate about children development and
                        believe in utilising modern technology to assist us in guiding our children to the best that
                        they can be.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color:#d9ceb2">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content2">
                    <h2>Common challenges faced by parents & children</h2>
                    <br><br>

                    <div class="container" style="text-align:center;width:auto;">
                        <div class="row">
                            <div class="span3" style="padding-bottom:20px;"><img
                                    src="{% static 'landing/img/aptitude/challenge1.png' %}"><br><br>Stressed
                                out at school
                            </div>
                            <div class="span3" style="padding-bottom:20px;"><img
                                    src="{% static 'landing/img/aptitude/challenge2.png' %}"><br><br>Not
                                enthusiastic
                            </div>
                            <div class="span3" style="padding-bottom:20px;"><img
                                    src="{% static 'landing/img/aptitude/challenge6.png' %}"><br><br>Low
                                concentration, <br>poor memory
                            </div>
                        </div>
                    </div>

                    <div class="container" style="text-align:center; width:auto;">
                        <div class="row">
                            <div class="span3 offset1" style="padding-bottom:20px;"><img
                                    src="{% static 'landing/img/aptitude/challenge4.png' %}"><br><br>Poor social
                                skills &amp; <br> lack of confidence
                            </div>
                            <div class="span3 offset1" style="padding-bottom:20px;"><img
                                    src="{% static 'landing/img/aptitude/challenge5.png' %}"><br><br>Confused
                                and not knowing <br>where their inborn talent is
                            </div>
                        </div>
                    </div>

                    <br>

                    <p>While some of these problems are self inflicted, it is also caused by the rigid education system
                        and high social expectation.The ultimate aim of Aptitude World is to provide inspirational
                        guidance to parents in grooming their child according to their inborn character and innate
                        talents. The ideal learning environment should not be stressful but stimulating, exciting and
                        far away from the stress.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content3">
                    <div id="leftSect">
                        <h2>Left Brain People</h2>
                        <br>

                        <p>
                            Guided by the left brain, theories suggest that left-brain people respond in sequential,
                            logical ways and this group of people are strong in math and science, and can answer
                            questions quickly. <br><br>"Most people in modern world operate as left-brain people due to
                            the education system in school which focus on left brain training..."
                        </p>
                    </div>

                    <div id="rightSect">
                        <h2>Right Brain People</h2>
                        <br>

                        <p>
                            On the contrary, right-brain people are dreamers who are led by intuition and creativity.
                            Right brainers think deeply and may have high level of intelligence. Right brainers make
                            great students of arts and social science. <br><br>Besides being more spontaneous than the
                            conservative left-brainers, right brainers are intuitive and prefer to follow their own gut
                            feelings when it comes to decision making.
                        </p>
                    </div>

                    <div id="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color:#d9ceb2">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content4">
                    <blockquote>
                        "I thought it was amazing just how accurate the personality described was to myself, l do find
                        how
                        the brain works very interesting and the various ways we all learn, l think this would be a
                        valuable
                        tool for parents, not only for the child’s development but also the way parents understand their
                        children and the challenges all families have."
                        <div class="author">&mdash; Carinne – Preschool Director</div>
                    </blockquote>

                    <blockquote>
                        "I found that the report is thorough, it does present many aspects of category in the attempt to
                        group and thus, explaining a group of or a particular trait associated with this method. I feel
                        that
                        many of those are very accurate and closely resemble what I felt about myself."
                        <div class="author">&mdash; Nico – Biotech researcher and entrepreneur</div>
                    </blockquote>

                    <blockquote>
                        "I am very satisfied about everything in this Aptitude Assessment. The report makes me
                        understand
                        more about myself, like what my characteristics are and which field I am good at. To some
                        extent, I
                        get confidence from this assessment. The consultation helped me understand the result, provided
                        some
                        examples for my characteristics and gave me some suggestions for my future career. These are
                        very
                        helpful. I am really happy that I did this."
                        <div class="author">&mdash; Mabel – Postgraduate student</div>
                    </blockquote>

                    <blockquote>
                        "This scientifically proven and patented child behaviour analysis changed my vision of where I
                        saw my
                        child’s education and life goals. I can not recommend it more highly. If you don’t do this you
                        are
                        letting your child down."
                        <div class="author">&mdash; Dean – Corporate Executive and father to a 9 year old</div>
                    </blockquote>


                    <blockquote>
                        "We are very happy with the report and it made things more clear to us as parents and we cannot
                        wait
                        to find out about our younger son and would definitely do another assessment on him when he is
                        old
                        enough."
                        <div class="author">&mdash; Polina - mother to 3 y.o and 1 y.o</div>
                    </blockquote>


                    <blockquote>
                        "I am amazed how the technology can be used to find out how mother nature creates us. The report
                        accurately represents what my child’s character is and it was very helpful to have guidance on
                        how
                        to groom her according to her character and talents. I wish this is
                        implemented formally in school program as to help teachers understand each student’s uniqueness
                        in a
                        much more efficient way thus making teaching more effective."
                        <div class="author">&mdash; Vincent – Entrepreneur and father of 3</div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

