{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="overlay" id="fingerprints">
        <div class="details">
            <table>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_1.png' %}"></td>
                    <td><b>Simple Arch</b> - Practical, realistic, efficient but conservative</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_2.png' %}"></td>
                    <td><b>Ulnar Loop</b> - Emotional, adapts fast and strong in interaction</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_3.png' %}"></td>
                    <td><b>Concentric Whirl</b> - Independent, competitive, firm (stubborn) and proactive</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_4.png' %}"></td>
                    <td><b>Spiral Whirl</b> - Highly intuitive, goal oriented but stubborn</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_5.png' %}"></td>
                    <td><b>Double Loop</b> - Can be a multi-tasking person and highly imitative in learning</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_6.png' %}"></td>
                    <td><b>Tented Arch</b> - Passionate and impulsive, able to absorb information like a sponge</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_7.png' %}"></td>
                    <td><b>Radial Loop</b> - Self-centered, unconventional and has reverse-thinking model</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_8.png' %}"></td>
                    <td><b>Imploding Whirl</b> - Family oriented but low in concentration and focus</td>
                </tr>
                <tr>
                    <td><img src="{% static 'landing/img/aptitude/fingerprint_type_9.png' %}"></td>
                    <td><b>Peacock's Eye</b> - High degree of understanding ability, optimistic, enthusiastic and have
                        unique ability in arts
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="overlay" id="patent_transcripts">
        <div class="details">
            <img src="{% static 'landing/img/aptitude/patent1.png' %}">
            <img src="{% static 'landing/img/aptitude/patent2.png' %}">

            <div style="text-align: center">
                The actual certificate of USA Patent awarded to Professor Lin, the R&D Director of Aptitude World
                Headquarters
            </div>
        </div>
    </div>


    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content1">
                    <div id="slideshow" class="pics">
                        <img src="{% static 'landing/img/banners/knowing-your-potential.jpg' %}"/>
                    </div>

                    <h2>Introduction to Dermatoglyphics Technology</h2>

                    <p>
                        The study of Dermatoglyphics can be traced back to almost 200 years of research.
                        This study has been proven with evidence in anthropology, genetics, medicine and
                        statistics to decode human’s innate ability (inborn characteristic).
                    </p>

                    <p>
                        It started in 1823 when scientists discovered the relevance of fingerprints and
                        multiple-intelligence in human. Medical research verified that the formation of
                        fingerprint started at week 13 of embryonic stage and completed at week 19.
                        Both the brain development and dermal ridges are growing simultaneously during
                        that stage too. Therefore there is a direct co-relation between the development
                        of the brain and fingerprint.

                    </p>

                    <p>
                        Some countries such as Russia, China and Taiwan adopt dermatoglyphics technology
                        in areas of sports, education, human resource management, recruitment,
                        entertainment and even talent scouting.
                    </p>

                    <p>
                        Aptitude World ANZ has the latest version of Dermatoglyphics technology with
                        accuracy up to 95% to decode one’s innate ability and talent.
                    </p>

                    <blockquote>
                        “Unfortunately, most of us have little sense of our talents and strengths, much
                        less the ability to build our lives around them. Instead, guided by our parents,
                        teachers, managers or influenced by media, peers and friends, we become
                        numbed and blinded and practice our weaknesses and spend our lives in
                        mediocrity , while our strengths lie dormant and neglected. This vicious cycle
                        keep on going as we use the similar way to raise our next generation”
                        <div class="author">&mdash; Dermatoglyphics Consultant</div>
                    </blockquote>


                    <table>
                        <tr>
                            <td><img src="{% static 'landing/img/aptitude/fingerprint1.png' %}"></td>
                            <td>
                                The types of <a href="" rel="#fingerprints">fingerprints</a> and
                                <a href="" rel="#patent_transcripts">transcripts of USA patent</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="row" style="background-color:#d9ceb2">
        <div class="container">
            <div class="row">
                <div class="span10 offset1" id="content2" style="min-height:400px;">
                    <h2>How does it work?</h2>

                    <img src="{% static 'landing/img/aptitude/product_trans.png' %}" style="margin: 10px 0 15px 0"
                         alt="How does it work?"/>

                    <p>
                        A report will be printed for the client.
                        <a href="{% url 'landing:consulting' %}">Consultation</a> of the report shall be conducted by
                        qualified Dermatoglyphics Consultant.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

