{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">
            <div id="templatemo_main">

                <div class="col_w960">
                    <h2>Introduction to Dermatoglyphics Technology</h2>

                    <p>
                        The study of Dermatoglyphics can be traced back to almost 200 years of research.
                        This study has been proven with evidence in anthropology, genetics, medicine and
                        statistics to decode human’s innate ability (inborn characteristic).
                    </p>

                    <p>
                        It started in 1823 when scientists discovered the relevance of fingerprints and
                        multiple-intelligence in human. Medical research verified that the formation of
                        fingerprint started at week 13 of embryonic stage and completed at week 19.
                        Both the brain development and dermal ridges are growing simultaneously during
                        that stage too. Therefore there is a direct co-relation between the development
                        of the brain and fingerprint.

                    </p>

                    <p>
                        Some countries such as Russia, China and Taiwan adopt dermatoglyphics technology
                        in areas of sports, education, human resource management, recruitment,
                        entertainment and even talent scouting.
                    </p>

                    <p>
                        Brain-Child Learning has the latest version of Dermatoglyphics technology with
                        accuracy up to 95% to decode one’s innate ability and talent.
                    </p>

                    <blockquote>
                        “Unfortunately, most of us have little sense of our talents and strengths, much
                        less the ability to build our lives around them. Instead, guided by our parents,
                        teachers, managers or influenced by media, peers and friends, we become
                        numbed and blinded and practice our weaknesses and spend our lives in
                        mediocrity , while our strengths lie dormant and neglected. This vicious cycle
                        keep on going as we use the similar way to raise our next generation...”<br>
                        &mdash; Dermatoglyphics Consultant
                    </blockquote>

                    <table>
                        <tr>
                            <td><img src="{% static 'landing/img/aptitude/fingerprint1.png' %}"></td>
                            <td>
                                The types of <a href="#">fingerprints</a> and <a href="#">transcripts of USA patent</a>
                            </td>
                        </tr>
                    </table>

                    <a href="#">The Benefits Of Dermatoglyphics Technology</a>
                </div>

                <div class="col_w960">
                    <h2>How does it work?</h2>

                    <img src="{% static 'landing/img/aptitude/product.png' %}" style="margin: 10px 0 15px 0"
                         alt="How does it work?"/>

                    <p>
                        A report will be printed for the client.
                        <a href="{% url 'landing:consulting' %}">Consultation</a> of the report shall be conducted by
                        qualified Dermatoglyphics Consultant.
                    </p>

                    <div class="cleaner"></div>
                </div>
                <!-- end of templatemo fp services -->

                <div class="col_w960 col_w960_last"></div>
                <div class="cleaner"></div>
            </div>
            <!-- end of main -->

            <div class="cleaner"></div>
        </div>
        <!-- end of wrapper -->
        <div class="cleaner"></div>
    </div>
    <!-- end of body wrapper -->
{% endblock %}

