{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row" style="background-color:#ffffff">
        <div class="container" style="padding-top:10px;">
            <div class="row">
                <div class="span10 offset1" id="content1">

                    <img src="{% static 'landing/img/aptitude/report_content1.png' %}">
                    <img src="{% static 'landing/img/aptitude/report_content2.png' %}">
                    <br><br>

                    <p style="color: #cb8101;">Our Aptitude Assessment report contains the following:</p>

                    <ol>
                        <li>
                            <b style="color: #18b313;">Innate characteristics</b><br>
                            Describes the person’s inborn character; primary and secondary, and the recommendation on
                            how to communicate and handle the particular character.<br>
                            Understanding people’s character is very important in establishing good relationship and
                            trust. Parents can save frustrations and be more accepting of their child, resulting in a
                            stronger bond and healthier relationship.<br><br>
                        </li>
                        <li>
                            <b style="color: #18b313;">Natural Learning Capacity</b><br>
                            Total Finger Ridge Count (TFRC) indicates a person’s brain learning capacity. It represents
                            the total number of ridges on our fingerprints. This indicates the inborn potential of a
                            person to receive and process information at the same time. A TFRC of 70 billion will be
                            satisfactory, yet the majority of people will have TFRC between 100 and 140 billion.<br><br>
                        </li>
                        <li>
                            <b style="color: #18b313;">Inborn learning method</b><br>
                            This indicates a child’s preferred way of learning: receiving, memorizing and storing
                            information. It is crucial that parents are aware of their child’s learning style in order
                            to provide proper guidance that is effective and efficient. A person that is aware of their
                            best learning method is more confident and adapt easily to new environment.<br><br>
                        <li>
                            <b style="color: #18b313;">Congenital Intelligences</b><br>
                            Reveals what talent mother earth has given to every individual. Priority can then be made to
                            sharpen one’s talent and excel in the field that they are born well at. Knowing our own
                            talent boost our confidence and provide direction to shape our future. Avoid trial and error
                            which can be costly financially and draining emotionally.<br><br>
                        </li>
                        <li>
                            <b style="color: #18b313;">Occupational suggestions</b><br>
                            Recommends which areas of occupation are suitable for an individual based on their inborn
                            intelligences. One can choose which is the most appropriate according to one’s interest and
                            passion.<br><br>
                        </li>
                        <li>
                            <b style="color: #18b313;">Bonus aptitude: The Four Main Quotients</b><br>
                            Unfolds the spread of one’s brain priority: Intelligence Quotient (IQ), Emotional Quotient
                            (EQ), Adversity Quotient (AQ), and Creative Quotient (CQ).<br><br>
                        </li>
                        <li>
                            <b style="color: #18b313;">Appendix</b><br>
                            <ul>
                                <li>The multiple intelligences: its characteristics and ways to strengthen</li>
                                <li>Major types of fingerprints and its characteristics</li>
                                <li>Basic understanding of the human brain</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

