{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">

                <div class="span10 offset1" id="content1">
                    <h2>How it helps the school</h2>

                    <div class="row">
                        <div class="span3"><img src="{% static 'landing/img/aptitude/solutions4.png' %}"
                                                alt="How it helps the tutor">
                        </div>
                        <div class="span7">
                            <ul>
                                <li>Establish the multiple intelligence database of their students</li>
                                <li>Elevate the quality of education and image of the school</li>
                                <li>Divide the students into different "talent classes" according to their learning
                                    abilities
                                </li>
                                <li>Build up a good reputation among education institutions</li>
                            </ul>
                        </div>
                    </div>

                    <br><br>

                    <p>Dermatoglyphics technology is adopted by many education institutions in countries to evaluate
                        their student and also as a marketing tool to increase their enrolment.
                    </p>
                    <br><br>
                    <ul>
                        <li>A very good value-added feature</li>
                        <li>Will definitely help in enrolment of students</li>
                        <li>Blue Ocean strategy for education institutions</li>
                        <li>Raise the awareness and the image of the education institution</li>
                        <li>A creative approach to identify its prospective student’s inborn talent and to do
                            recommendation professionally
                        </li>
                    </ul>
                    <br><br>


                    <h2>How it helps the tutor</h2>
                    <br>

                    <div class="row">
                        <div class="span2"><img src="{% static 'landing/img/aptitude/solutions3.png' %}"
                                                alt="How it helps the tutor"></div>
                        <div class="span8">
                            <ul>
                                <li>Understand well on the characteristics of each child</li>
                                <li>Assist in communication with parents</li>
                                <li>Train children according to their abilities</li>
                            </ul>
                        </div>
                    </div>

                    <br><br>

                    <h2>How it helps the enterprise</h2>

                    <div class="row">
                        <div class="span2"><img src="{% static 'landing/img/aptitude/solutions1.png' %}"
                                                alt="How it helps the enterprise"></div>
                        <div class="span8">
                            <ul>
                                <li>Enable company to discern suitable candidates with ability</li>
                                <li>Facilitate efficient communication and effectiveness at work</li>
                                <li>Allow management to predominate human resources distribution assuredly</li>

                            </ul>
                        </div>
                    </div>
                    <br><br>

                    <p>Human resource is perhaps the most valuable asset of a corporation. Choosing the right talent
                        especially for an important position is vital as it impacts not only time but also resources.
                        Contrary to other popular psychometric test which can be manipulated, Dermatoglyphics truly
                        reflects one’s natural talent (inborn strength), something that a human resource personnel is
                        looking for:</p>

                    <br><br>

                    <div class="row">
                        <div class="span3"><img src="{% static 'landing/img/aptitude/solutions2.png' %}"
                                                alt="Human resources"></div>
                        <div class="span7">
                            <ul>
                                <li>To reduce the turnover of employees</li>
                                <li>To get the "right person for the right job"</li>
                                <li>To improve the overall efficiency in recruitment</li>
                                <li>To assist human resource management in character-potential profiling and effective
                                    communication
                                </li>
                                <li>To reduce the cost of human resource department such as head-hunting and opportunity
                                    cost lost in wrong candidate selection
                                </li>

                            </ul>
                        </div>
                    </div>
                    <br><br>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

