{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">

            <div id="templatemo_main">

                <div class="col_w960">
                    <h2>How it helps the school</h2>

                    <table>
                        <tr>
                            <td>
                                <img src="{% static 'landing/img/aptitude/solutions4.png' %}"
                                     alt="How it helps the tutor"/>
                            </td>
                            <td>
                                <ul>
                                    <li>Establish the multiple intelligence database of their students</li>
                                    <li>Elevate the quality of education and image of the school</li>
                                    <li>Divide the students into different "talent classes" according to their learning
                                        abilities
                                    </li>
                                    <li>Build up a good reputation among education institutions</li>
                                </ul>
                            </td>
                        </tr>
                    </table>


                    <p align="justify">
                        Dermatoglyphics technology is adopted by many education institutions in countries
                        to evaluate their student and also as a marketing tool to increase their enrolment.
                    </p>
                    <ul>
                        <li>A very good value-added feature</li>
                        <li>Will definitely help in enrolment of students</li>
                        <li>Blue Ocean strategy for education institutions</li>
                        <li>Raise the awareness and the image of the education institution</li>
                        <li>A creative approach to identify its prospective student’s inborn talent and to
                            do recommendation professionally
                        </li>
                    </ul>


                    <h2>How it helps the tutor</h2>
                    <table>
                        <tr>
                            <td>
                                <img src="{% static 'landing/img/aptitude/solutions3.png' %}"
                                     alt="How it helps the tutor"/>
                            </td>
                            <td>
                                <ul>
                                    <li>Understand well on the characteristics of each child</li>
                                    <li>Assist in communication with parents</li>
                                    <li>Train children according to their abilities</li>
                                </ul>
                            </td>
                        </tr>
                    </table>


                    <h2>How it helps the enterprise</h2>

                    <table>
                        <tr>
                            <td>
                                <img src="{% static 'landing/img/aptitude/solutions1.png' %}"
                                     alt="How it helps the enterprise"/>
                            </td>
                            <td>
                                <ul>
                                    <li>Enable company to discern suitable candidates with ability</li>
                                    <li>Facilitate efficient communication and effectiveness at work</li>
                                    <li>Allow management to predominate human resources distribution assuredly</li>
                                </ul>
                            </td>
                        </tr>
                    </table>

                    <p align="justify">
                        Human resource is perhaps the most valuable asset of a corporation.
                        Choosing the right talent especially for an important position is vital as it
                        impacts not
                        only time but also resources.
                        Contrary to other popular psychometric test which can be manipulated,
                        Dermatoglyphics
                        truly reflects one’s natural talent (inborn strength), something that a human
                        resource
                        personnel is looking for:
                    </p>

                    <table>
                        <tr>
                            <td>
                                <img src="{% static 'landing/img/aptitude/solutions2.png' %}"
                                     alt="Human resources"/>
                            </td>
                            <td>

                                <ul>
                                    <li>To reduce the turnover of employees</li>
                                    <li>To get the "right person for the right job"</li>
                                    <li>To improve the overall efficiency in recruitment</li>
                                    <li>To assist human resource management in character-potential profiling and
                                        effective
                                        communication
                                    </li>
                                    <li>To reduce the cost of human resource department such as head-hunting and
                                        opportunity cost
                                        lost in wrong candidate selection
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>

                    <div class="cleaner"></div>
                </div>
                <!-- end of templatemo fp services -->

                <div class="col_w960 col_w960_last"></div>
                <div class="cleaner"></div>
            </div>
            <!-- end of main -->

            <div class="cleaner"></div>
        </div>
        <!-- end of wrapper -->
        <div class="cleaner"></div>
    </div>
    <!-- end of body wrapper -->
{% endblock %}

