{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="span10 offset1">
                    <p>Here are a few lines that our happy customers have come back with and say about our services.</p>

                    <div class="testimonial">
                        "We are very happy with the report and it made things more clear to us as parents and we cannot
                        wait to find out about our younger son and would definitely do another assessment on him when he
                        is old enough."
                        <div class="author">Polina &mdash; Mother of two</div>
                    </div>
                    <div class="testimonial">
                        "I thought it was amazing just how accurate the personality described was to myself, l do find
                        how the brain works very interesting and the various ways we all learn, l think this would be a
                        valuable tool for parents, not only for the child’s development but also the way parents
                        understand their children and the challenges all families have."
                        <div class="author">Carinne Wood &mdash; Director at Noah’s Ark Preschool</div>
                    </div>
                    <div class="testimonial">
                        "This scientifically proven and patented child behaviour analysis changed my vision of where I
                        saw my child’s education and life goals. I cannot recommend it more highly. If you don’t do this
                        you are letting your child down."
                        <div class="author">Dean Egan &mdash; Corporate Executive and father of one</div>
                    </div>
                    <div class="testimonial">
                        "I am amazed how the technology can be used to find out how mother nature creates us. The report
                        accurately represents what my child’s character is and it was very helpful to have guidance on
                        how to groom her according to her character and talents. I wish this is implemented formally in
                        school program as to help teachers understand each student’s uniqueness in a much more efficient
                        way thus making teaching more effective."
                        <div class="author">Vincent Chu &mdash; IT Consultant and Entrepreneur, father of three</div>
                    </div>
                    <div class="testimonial">
                        "I am very happy with the result of the aptitude test as I could know my daughters better. My 9
                        years old daughter has Wt on one of her thumbs which is the strongest and most stubborn
                        character. Now I try not to force my opinion, instead I give her lots of reasoning and
                        explanation and let her decide. As a result we have much less conflict and a happier
                        relationship. :)"
                        <div class="author">Fenty Saputra &mdash; Mother of two girls</div>
                    </div>
                    <div class="testimonial">
                        "I found that the report is thorough, I feel that many of those are very accurate and closely
                        resemble what I felt about myself."
                        <div class="author">Nico Wanandy &mdash; PhD Reseacher and entrepreneur</div>
                    </div>
                    <div class="testimonial">
                        "I want to express my appreciation to Aptitude World. I was very impressed with the aptitude
                        test report for my son. I found it really beneficial. It really helped me to understand
                        parenting a lot more. I feel more confident in coping and dealing with my son’s character and
                        his learning style. I followed what they recommended to me and it worked. It also helped me to
                        overcome some parenting challenges that I have. The team is utterly professional and reliable. I
                        highly recommend it to everyone."
                        <div class="author">Ana &mdash; Mother of preschooler and toddler</div>
                    </div>
                    <div class="testimonial">
                        "I am very satisfied about everything in this Aptitude Assessment. The report makes me
                        understand more about myself, like what my characteristics are and which field I am good at. To
                        some extent, I get confidence from this assessment. The consultation helped me to understand the
                        result, provided some examples for my characteristics and gave me some suggestions for my future
                        career. These are very helpful. I am really happy that I did this."
                        <div class="author">Mabel &mdash; Postgraduate student</div>
                    </div>
                    <div class="testimonial">
                        “I would strongly recommend any parent with little kids to go for an assessment with Aptitude
                        World.<br><br>
                        Parenting is probably the most rewarding and at the same time challenging thing that we do in
                        our life. I saw my little girls grow from tiny babies into little girls, but even then I used to
                        feel that I don’t know them too well, questioning ‘Why are they behaving in this way?’ ‘What are
                        their natural talents?’ ‘Am I doing the right thing?’ What would be the best way to guide them?’
                        I wanted to be an effective parent. Aptitude World came along with a helping hand in answering
                        all these questions for me.<br><br>
                        When the consultant explained to me about each of my daughters’ mental make-up, it was a light
                        bulb moment for me and I felt that I understand them better now. I have seen myself becoming
                        more patient and acceptable of them. In the last few months I have observed my relationship with
                        my older daughter has improved considerably, there is less friction between us and her
                        performance at school has also improved considerably. I found out through the report that she
                        has a creative bent of mind so we want to encourage her in that direction as well.
                        I felt that the report was very accurate and even made some career recommendations at the end
                        which is very handy. When the time comes I will be able to give proper guidance and steer them
                        in the right direction.<br><br>
                        I think what these reports have done for us is that we know at the back of our mind what we need
                        to encourage in our kids, our focus has shifted from their shortcomings to their innate natural
                        talents which need to be stimulated.
                        Thank you Aptitude World.”
                        <div class="author">Ginny Narang &mdash; Mother of two</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

