{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">

            <div id="templatemo_main">

                <div class="col_w960">
                    <h3>Terms and Conditions</h3>

                    <h4>Payment of balance</h4>

                    <p>The outstanding balance is payable by the data scanning appointment time. We offer the following
                        payment
                        options:</p>
                    <ol>
                        <li>
                            Direct bank transfer (preferred)<br>
                            Account Name: Aptitude World<br>
                            BSB: 032 257<br>
                            Account number: 391306<br>
                            <b>NOTE:</b> Please include the booking reference number and surname in your payment.
                        </li>
                        <li>
                            Cash at the data scanning appointment (please provide the exact amount)
                        </li>
                    </ol>

                    <h4>Cancellation</h4>

                    <p>Should you have to cancel your assessment, you must notify us at least 24 hour in advance. The
                        deposit is not
                        refundable but transferrable once only. Once biometric data is taken, no cancellation of service
                        can be
                        made.</p>

                    <h4>Confidentiality</h4>

                    <p>Your personal data is treated with utmost privacy and confidentiality. Once the aptitude report
                        is generated, the
                        biometric data is automatically deleted from the system. Aptitude World is not able to recreate
                        or regenerate
                        biometric data for any purpose.</p>

                    <h4>Disclaimer</h4>

                    <p>The undersigned has understood the nature of the service, agreed to subscribe to the said service
                        and its
                        consultation. Aptitude World does not make any representation, statement or remark to the
                        undersigned on what
                        the
                        customer will or will not do based on the aptitude analysis. The analysis does not predict what
                        the future
                        holds.
                        Aptitude World shall take its commitment in providing its service to the customer and no
                        discrepancies shall be
                        arised by either party after the consultation.</p>

                    <div class="cleaner"></div>
                </div>
                <!-- end of templatemo fp services -->

                <div class="col_w960 col_w960_last"></div>
                <div class="cleaner"></div>
            </div>
            <!-- end of main -->

            <div class="cleaner"></div>
        </div>
        <!-- end of wrapper -->
        <div class="cleaner"></div>
    </div>
    <!-- end of body wrapper -->
{% endblock %}

